
.header {
  width: 100%;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
  background: black;
  padding-top: 10px;
  margin-top:0;
}

.title {
  /* margin: 20px 0 20px 0; */
  float: left;
  font-family: 'Marvel', sans-serif;
}

.scores {
  /* margin: 20px 0 20px 0; */
  text-align: left;
  font-family: 'Rakkas', cursive;
}

.message {
  /* margin: 20px 0 20px 0; */
  font-family: 'Rakkas', cursive;
}