
.header {
  width: 100%;
  font-size: 2rem;
  color: #2A77AE;
  margin-bottom: 10px;
  background: rgb(166, 185, 199);
  padding: 30px;
}

.title {
  margin-bottom: 50px;
  float: left;
}

.scores {
  float: right;
}