.card {
  height: 185px;
  margin: 1em 1em 1em 2em;
  width: 180px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container > img {
  width: 100%
}

.img-container >img:hover {
  cursor: pointer;
  border-bottom: red solid 25px;
}
